<button ng-click="elevator.makeAPICall()">Click here</button>
<h2>All Outage Time	</h2>

	<ul class="outage-box" ng-repeat="el in elevator.outage">
	
		<div class="station">
			<li class="station-name">{{el.station}}</li>
			<li class="trainlisting">serving these trains: {{el.trainno}}</li>
		</div>
		<div class="box-bottom">
			<li>Borough: {{el.borough | boroFilter}}</li>
			<li>Elevator or escalator? {{el.equipment | equipmentFilter}}</li>
			<li>Location of outage: {{el.serving | lowercase}}</li>
			<li>Reason: {{el.reason | lowercase}}</li>
			<li>Back in Service on: {{el.estimatedreturntoservice}}</li>
			<li>Out of Service since: {{el.outagedate}}</li>
		</div>

	</ul>
