<div class="centered" ng-init="init()">
<br/><br/>
<!-- <h2>All Equipment Outages</h2> -->
<button class="allbutton" ng-click="elevator.makeAPICall()">Click here for All Equipment Outages</button>
<br/>
<br/>

	<ul class="outage-box" ng-repeat="el in elevator.outage">
		<div class="station">
			<li class="station-name">{{el.station}}</li>
		</div>
		<table class="table-condensed">
			<tr><td>Train Lines:</td>
				<td>{{el.trainno}}</td></tr>
			<tr><td>Borough:</td>
				<td> {{el.borough | boroFilter}}</td> </tr>
			<tr><td>Elevator or escalator? </td>
				<td> {{el.equipment | equipmentFilter}}</td> </tr>
			<tr><td>Location of outage: </td>
				<td> {{el.serving | lowercase}}</td> </tr>
			<tr><td>Reason: </td>
				<td> {{el.reason | lowercase}}</td> </tr>
			<tr><td>Back in Service on: </td>
				<td> {{el.estimatedreturntoservice}}</td> </tr>
			<tr><td>Out of Service since: </td>
				<td> {{el.outagedate}}</td></tr>
		</table>
	</ul>
</div>


