<div class="pad-left">

<h2>Borough Time</h2>

<!-- <button value="Queens" ng-click="elevator.getQueens()" ng-model="borough">Queens</button>
<button value="Bronx" ng-click="elevator.makeAPICall()" ng-model="borough">Bronx</button>
<button value="Manhattan" ng-click="elevator.makeAPICall()" ng-model="borough">Manhattan</button>
<button value="Brooklyn" ng-click="elevator.makeAPICall()" ng-model="borough">Brooklyn</button>
 -->

<h4>Search by borough: 
enter QNS, BK, BX, MN </h4>

<input type="text" ng-model="searchel">

 <!-- <button type="text" value="QN" ng-model="searchel">Queens</button>
  -->

 </div>
 
<br/>

	<ul class="outage-box" ng-repeat="el in elevator.outage | filter:searchel">
		<div class="station">
			<li class="station-name">{{el.station}}</li>
			<li class="trainlisting">serving these trains: {{el.trainno}}</li>
		</div>
		<table class="table-condensed">
			<tr><td>Borough:</td>
				<td> {{el.borough | boroFilter}}</td> </tr>
			<tr><td>Elevator or escalator? </td>
				<td> {{el.equipment | equipmentFilter}}</td> </tr>
			<tr><td>Location of outage: </td>
				<td> {{el.serving | lowercase}}</td> </tr>
			<tr><td>Reason: </td>
				<td> {{el.reason | lowercase}}</td> </tr>
			<tr><td>Back in Service on: </td>
				<td> {{el.estimatedreturntoservice}}</td> </tr>
			<tr><td>Out of Service since: </td>
				<td> {{el.outagedate}}</td></tr>
		</table>
	</ul>