<div class="pad-left">
<br/>

<div class="borough-links">
	<a ng-click="boroughValue='QNS'">  QUEENS  </a>  | 
	<a ng-click="boroughValue='BX'">  BRONX  </a>  | 
	<a ng-click="boroughValue='MN'">  MANHATTAN  </a> |
	<a ng-click="boroughValue='BKN'">  BROOKLYN </a>
</div>
 <br/>

<br/>

	<ul class="outage-box" ng-repeat="outage in borough.allOutages" ng-show="outage.borough===boroughValue">
		<div class="station">
			<li class="station-name">{{outage.station}}</li>
		</div>
		<table class="table-condensed">
			<tr><td>Train Lines:</td>
				<td>{{outage.trainno}}</td></tr>
			<tr><td>Borough:</td>
				<td> {{outage.borough | boroFilter}}</td> </tr>
			<tr><td>Elevator or escalator? </td>
				<td> {{outage.equipment | equipmentFilter}}</td> </tr>
			<tr><td>Location of outage: </td>
				<td> {{outage.serving | lowercase}}</td> </tr>
			<tr><td>Reason: </td>
				<td> {{outage.reason | lowercase}}</td> </tr>
			<tr><td>Back in Service on: </td>
				<td> {{outage.estimatedreturntoservice}}</td> </tr>
			<tr><td>Out of Service since: </td>
				<td> {{outage.outagedate}}</td></tr>
		</table>
	</ul>
</div>

</div>
