<div class="pad-left"  ng-init="elevator.makeAPICall()">

<div class="centered">

<!-- Tooltip Code	 -->
	<h3><a id="tooltip-id" href="#" data-toggle="tooltip" title="If typed station name does not show up, there is no elevator or escalator outage! Or you can try typing the name again.">Search by STATION: Type your station below</a></h3>

	<div class="tooltip top" role="tooltip">
	  <div class="tooltip-arrow"></div>
	  <div class="tooltip-inner"> 
	  </div>
	</div>
	<!-- End of Tooltip Code	 -->
<br/>

<input type="text" ng-model="searchel">

</div>
 
<br/>

	<ul class="outage-box" ng-repeat="outage in elevator.outage | filter:searchel">
		<div class="station">
			<li class="station-name">{{outage.station}}</li>
		</div>
		<table class="table-condensed">
			<tr><td>Current Outage:</td>
				<td><strong>{{outage.equipment | equipmentFilter}} at {{outage.serving | lowercase}}</strong></td></tr>
			<tr><td><strong>Scheduled Return to Service: </strong></td>
				<td><strong>{{outage.estimatedreturntoservice}}</strong></td> </tr>

			<tr><td>Station Info:</td>
				<td>{{outage.borough | boroFilter}}; {{outage.trainno}} train lines</td></tr>
			<tr><td>Reason for Outage: </td>
				<td> {{outage.reason | lowercase}}</td> </tr>

			<tr><td>Outage began: </td>
				<td> {{outage.outagedate}}</td></tr>
		</table>
	</ul>
</div>

</div>
