<br/>
<!-- <div id="box"></div> -->
<br/>
<br/>

<div class="bg-white centered">
	<a href="/onetrainline" ng-click="train.getTrainLines(1)">
		<img src="images/1.gif" alt="1"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines(2)">
		<img src="images/2.gif" alt="2"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines(3)">
		<img src="images/3.gif" alt="3"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines(4)">
		<img src="images/4.jpg" alt="4"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines(5)">
		<img src="images/5.jpg" alt="5"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines(6)">
		<img src="images/6.jpg" alt="6"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines(7)">
		<img src="images/7.jpg" alt="7"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('A')">
		<img src="images/A.jpg" alt="A"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('B')">
		<img src="images/B.jpg" alt="B"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('C')">
		<img src="images/C.jpg" alt="C"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('D')">
		<img src="images/D.jpg" alt="D"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('E')">
		<img src="images/E.jpg" alt="E"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('F')">
		<img src="images/F.jpg" alt="F"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('G')">
		<img src="images/G.jpg" alt="G"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('J')">
		<img src="images/J.jpg" alt="J"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('L')">
		<img src="images/L.jpg" alt="L"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('M')">
		<img src="images/M.jpg" alt="M"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('N')">
		<img src="images/N.jpg" alt="N"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('Q')">
		<img src="images/Q.jpg" alt="Q"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('R')">
		<img src="images/R.jpg" alt="R"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('S')">
		<img src="images/S.jpg" alt="S"></a>
	<a href="/onetrainline" ng-click="train.getTrainLines('Z')">
		<img src="images/Z.jpg" alt="Z"></a>
</div>


<!-- <ul class="outage-box" ng-repeat="el in elevator.outage  | filter:searchLine">
 
		<div class="station">
			<li class="station-name">{{el.station}}</li>
			<li class="trainlisting">serving these trains: {{el.trainno}}</li>
		</div>
		<table class="table-condensed">
			<tr><td>Borough:</td>
				<td> {{el.borough | boroFilter}}</td> </tr>
			<tr><td>Elevator or escalator? </td>
				<td> {{el.equipment | equipmentFilter}}</td> </tr>
			<tr><td>Location of outage: </td>
				<td> {{el.serving | lowercase}}</td> </tr>
			<tr><td>Reason: </td>
				<td> {{el.reason | lowercase}}</td> </tr>
			<tr><td>Back in Service on: </td>
				<td> {{el.estimatedreturntoservice}}</td> </tr>
			<tr><td>Out of Service since: </td>
				<td> {{el.outagedate}}</td></tr>
		</table>

 </ul>	 -->

