<br/>

<div id="info-box">

</div>

<div class="bg-white centered">

<img src="images/1.gif" alt="1" ng-click="elevator.getTrainLines(1)">
<img src="images/2.gif" alt="2" ng-click="elevator.getTrainLines(2)">
<img src="images/3.gif" alt="3" ng-click="elevator.getTrainLines(3)">
<img src="images/4.jpg" alt="4" ng-click="elevator.getTrainLines(4)">
<img src="images/5.jpg" alt="5" ng-click="elevator.getTrainLines(5)">
<img src="images/6.jpg" alt="6" ng-click="elevator.getTrainLines(6)">
<img src="images/7.jpg" alt="7" ng-click="elevator.getTrainLines(7)">
<img src="images/A.jpg" alt="A" ng-click="elevator.getTrainLines('A')">
<img src="images/B.jpg" alt="B" ng-click="elevator.getTrainLines('B')">
<img src="images/C.jpg" alt="C" ng-click="elevator.getTrainLines('C')">
<img src="images/D.jpg" alt="D" ng-click="elevator.getTrainLines('D')">
<img src="images/E.jpg" alt="E" ng-click="elevator.getTrainLines('E')">
<img src="images/F.jpg" alt="F" ng-click="elevator.getTrainLines('F')">
<img src="images/G.jpg" alt="G" ng-click="elevator.getTrainLines('G')">
<img src="images/J.jpg" alt="J" ng-click="elevator.getTrainLines('J')">
<img src="images/L.jpg" alt="L" ng-click="elevator.getTrainLines('L')">
<img src="images/M.jpg" alt="M" ng-click="elevator.getTrainLines('M')">
<img src="images/N.jpg" alt="N" ng-click="elevator.getTrainLines('N')">
<img src="images/Q.jpg" alt="Q" ng-click="elevator.getTrainLines('Q')">
<img src="images/R.jpg" alt="R" ng-click="elevator.getTrainLines('R')">
<img src="images/S.jpg" alt="S" ng-click="elevator.getTrainLines('S')">
<img src="images/Z.jpg" alt="Z" ng-click="elevator.getTrainLines('Z')">

</div>


<!-- <ul class="outage-box" ng-repeat="el in elevator.outage  | filter:searchLine">
 
		<div class="station">
			<li class="station-name">{{el.station}}</li>
			<li class="trainlisting">serving these trains: {{el.trainno}}</li>
		</div>
		<table class="table-condensed">
			<tr><td>Borough:</td>
				<td> {{el.borough | boroFilter}}</td> </tr>
			<tr><td>Elevator or escalator? </td>
				<td> {{el.equipment | equipmentFilter}}</td> </tr>
			<tr><td>Location of outage: </td>
				<td> {{el.serving | lowercase}}</td> </tr>
			<tr><td>Reason: </td>
				<td> {{el.reason | lowercase}}</td> </tr>
			<tr><td>Back in Service on: </td>
				<td> {{el.estimatedreturntoservice}}</td> </tr>
			<tr><td>Out of Service since: </td>
				<td> {{el.outagedate}}</td></tr>
		</table>

 </ul>	 -->

