	<h1>Angularizing my Elevator Outages App</h1>
	
<!-- 
	<ul ng-repeat="outage in elevator.outages track by $index">
  		<li>{{outage.station}} </li>
	 </ul> -->

	 <button id="get-xml">Get XML </button>
	
	<div id="info-box"></div>


