<div class="login-area">
	<h1>Here is the MTA Outages App </h1>

	<div class="signup half">
	  <h4>Sign in for alerts and to view your preferences.</h4>
	  
	  <form id="signup-form" action="/users" method="post">
	      <input type="text" name="user[username]" placeholder="Create a username">
	      <input type="password" name="user[password]" placeholder="Enter a password">
	      <input type="submit" value="Signup">
	  </form>
	</div>
	
	<br/>
	
	<a href="/users/login">Login here if you have an account</a>
</div>

<div ng-controller="ElevatorController as elevator">
<!-- 	 <button id="get-xml">Get XML </button> -->
	
	<button ng-click="elevator.makeAPICall()">Doubleclick to view full List of Outages </button>
	<div id="info-box">
	</div>
<div ng-repeat="el in elevator.outage">
	
	Location: {{el.station}}
	serving these train lines: {{el.trainno}}
	Borough {{el.borough}}
	Elevator or escalator? {{el.equipment}} serving the {{el.serving}}
	Reason: {{el.reason}}
	Estimated Return to Service on: {{el.estimatedreturntoservice}}
	Out of Service since: {{el.outagedate}}

	<hr/>
</div>


<!-- <div ng-repeat="outage in elevator.singleOutage">
	<p>{{outage.station}}</p>
	<p>{{outage.trainno}}</p>


</div> -->
</div>
