This is my main ANGULAR PAGE
Welcome <%= currentUser.email %>

<a href="/users/<%= currentUser._id %>/edit">Click to edit profile <%= currentUser.email %></a>

<div ng-view></div>
ng route to a full list page
	trainline page
	borough





