<div class="centered">
	<h1>MTA Elevator and Escalator Outages</h1>
	<h4>also known as...</h4>
	<h2>Do I have to take the stairs??!?@#?</h2>

	<hr>
	<div ng-hide="loginButton" class="signup half">
	  <h4>Sign up to receive alerts and to view your preferences.</h4>
	  
	   <form class="form-inline" id="signup-form" action="/users/new" method="post">
	     <div class="form-group">
	      	<label for="signupemail" class="sr-only">Email</label>
	      	<input id="signupemail" type="text" name="user[email]" placeholder="Enter your email">
	     </div>
		
		 <div class="form-group">
	      	<label for="signuppass" class="sr-only">Password</label>
	      	<input id="signuppass"type="password" name="user[password]" placeholder="Enter a new password">
	     </div>
	      	<input type="submit" value="Signup">
	    </form>
	</div>


	<% if (flash.emailTaken) { %>
	    <p class = "alert alert-danger"><%= flash.emailTaken %></p>
	<% } %>
	<% if (flash.userNotSaved) { %>
	    <p class = "alert alert-danger"><%=flash.userNotSaved%></p>
	<% } %>
  	<% if (flash.loginError) { %>
     <p class = "alert alert-danger"><%=flash.loginError%></p>
     <%} %>
     <% if (flash.emailPasswordMismatch) { %>
     <p class = "alert alert-danger"><%=flash.emailPasswordMismatch%></p>
     <%} %>

	<a ng-click="loginButton=!loginButton"> Login to your existing account</a>

      <div ng-show="loginButton">

		<form id="login-form" class="form-inline" action="/users/login" method="post">
	       <div class="form-group">
	       		<label for="loginemail" class="sr-only">Email</label>
	    	    <input type="text" id="loginemail"name="user[email]" placeholder="Login with Email">
	    	</div>

	       <div class="form-group">
	    		<label for="signinemail" class="sr-only">Email</label>
	      		<input id="signinemail" type="password" name="user[password]" placeholder="Enter your password">
	      	</div>
	        	<input type="submit" value="Login">
	    </form>
	   </div>
</div>

<hr>
<div ng-controller="ElevatorController as elevator" class="centered">
	<button class="active" ng-click="elevator.makeAPICall()">Click for full list of equipment outages </button>
	<br/>
	<br/>
	<a href="/index">For more search options without logging in, click through</a>

	<br/>
	<ul class="outage-box" ng-repeat="el in elevator.outage | filter:searchel">
		<div class="station">
			<li class="station-name">{{el.station}}</li>
			<li class="trainlisting">serving these trains: {{el.trainno}}</li>
		</div>
		<table class="table-condensed">
			<tr><td>Borough:</td>
				<td> {{el.borough | boroFilter}}</td> </tr>
			<tr><td>Elevator or escalator? </td>
				<td> {{el.equipment | equipmentFilter}}</td> </tr>
			<tr><td>Location of outage: </td>
				<td> {{el.serving | lowercase}}</td> </tr>
			<tr><td>Reason: </td>
				<td> {{el.reason | lowercase}}</td> </tr>
			<tr><td>Back in Service on: </td>
				<td> {{el.estimatedreturntoservice}}</td> </tr>
			<tr><td>Out of Service since: </td>
				<td> {{el.outagedate}}</td></tr>
		</table>
	</ul>
</div>
