<div class="intro-area">
	<h1>MTA Elevator and Escalator Outages</h1>
	<h4>Also known as...</h4>
	<h2>Do I have to take the stairs??!?@#?</h2>

	<hr>
	<div class="signup half">
	  <h4>Sign in for alerts and to view your preferences.</h4>

	  <form id="signup-form" action="/users/new" method="post">
	      <input type="text" name="user[email]" placeholder="Enter your email">
	      <input type="password" name="user[password]" placeholder="Enter a password">
	      <input type="submit" value="Signup">
	  </form>
	</div>

	<button ng-show="">Login to your account</button>
	    <form id="login-form" action="/users/login" method="post">
	      <input type="text" name="user[email]" placeholder="email">
	      <input type="password" name="user[password]" placeholder="password">
	      <input type="submit" value="Login">
	    </form>

</div>

<hr>
<div ng-controller="ElevatorController as elevator">
	<button ng-click="elevator.makeAPICall()">Click for full list of outages </button>

	<ul ng-repeat="el in elevator.outage">
	
		<div class="station">{{el.station}} serving these train lines: {{el.trainno}}</div>
		<li>Borough {{el.borough}}</li>
		<li>Elevator or escalator? {{el.equipment | equipmentFilter}}</li>
		<li>Location of outage: {{el.serving | lowercase}}</li>
		<li>Reason: {{el.reason | lowercase}}</li>
		<li>Estimated Return to Service on: {{el.estimatedreturntoservice}}</li>
		<li>Out of Service since: {{el.outagedate}}</li>
		<hr/>
	</ul>
</div>
