<div class="intro-area centered">
	<h1>MTA Elevator and Escalator Outages</h1>
	<h4>also known as...</h4>
	<h2>Do I have to take the stairs??!?@#?</h2>

	<hr>
	<div ng-hide="loginButton" class="signup half">
	  <h4>Sign up to receive alerts and to view your preferences.</h4>

	  <form id="signup-form" action="/users/new" method="post">
	      <input type="text" name="user[email]" placeholder="Enter your email">
	      <input type="password" name="user[password]" placeholder="Enter a new password">
	      <input type="submit" value="Signup">
	  </form>
	</div>


	<% if (flash.emailTaken) { %>
	    <p class = "alert alert-danger"><%= flash.emailTaken %></p>
	<% } %>
	<% if (flash.userNotSaved) { %>
	    <p class = "alert alert-danger"><%=flash.userNotSaved%></p>
	<% } %>
  	<% if (flash.loginError) { %>
     <p class = "alert alert-danger"><%=flash.loginError%></p>
     <%} %>
     <% if (flash.emailPasswordMismatch) { %>
     <p class = "alert alert-danger"><%=flash.emailPasswordMismatch%></p>
     <%} %>

	<a ng-click="loginButton=!loginButton"> Login to your existing account</a>

      <div ng-show="loginButton">
	    <form id="login-form" action="/users/login" method="post">
	      <input type="text" name="user[email]" placeholder="Login with Email">
	      <input type="password" name="user[password]" placeholder="Enter your password">
	      <input type="submit" value="Login">

	    </form>
	   </div>
</div>

<hr>
<div ng-controller="ElevatorController as elevator" class="centered">
	<button class="active" ng-click="elevator.makeAPICall()">Click for full list of equipment outages </button>
	<br/>
	<br/>
	<a href="/index">For more search options without logging in, click through</a>

	<br/>
	<ul class="outage-box" ng-repeat="el in elevator.outage">
	
		<div class="station">
			<li class="station-name">{{el.station}}</li>
			<li class="trainlisting">serving these trains: {{el.trainno}}</li>
		</div>
		<div class="box-bottom">
			<li>Borough: {{el.borough | boroFilter}}</li>
			<li>Elevator or escalator? {{el.equipment | equipmentFilter}}</li>
			<li>Location of outage: {{el.serving | lowercase}}</li>
			<li>Reason: {{el.reason | lowercase}}</li>
			<li>Back in Service on: {{el.estimatedreturntoservice}}</li>
			<li>Out of Service since: {{el.outagedate}}</li>
		</div>

	</ul>
</div>
