h1, h2 {
	font-family: 'Montserrat', sans-serif;
}

.centered {
	text-align: center;
}

body {
	background-color: #E8E8E8;
}

li {
	list-style: none;
}

.outage-box {
	display: inline-block;
	border: 1px solid #E0E0E0 ; 
	margin:2%;
	text-align:left;
	padding:0;
	background-color: white;
}

.station{
/*	background-color: #404040;*/
	background-color:black;
	color: white;
	font-family: 'Lato', sans-serif;
	border: 1px solid black;
	text-align: center;
	width:100%;
	padding-left:0;
	padding-right:0;
	font-size: 1.2em;
}

.station-name {

}

.trainlisting {

}

.box-bottom {
	padding-left:10px;
	padding-right:10px;
}

button {
	background-color: darkcyan;
	color:white;
	font-family: 'Montserrat', sans-serif;
}

a {
	font-size: 1.2em;
}

.bg-white {
	background-color: white;
}

img {
	height: 175px;
	width: 175px;
}


input[type=submit] {
	background-color: black;
	color: white;
	border:white;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'Montserrat', sans-serif;

}
