<h1>User Profile Page </h1>

<h2> You are logged in as: <%= user.email %> </h2>


<h4> User Preferences, if any</h4>

This will display if you have chosen to receive notifications.
<strong><%=user.notifications  %> </strong>

<br/>
<br/>

This will display if you have chosen which train line to be notified about.
<strong><%=user.trainline%> </strong>

<br/>
<br/>
  

Click submit to edit your profile.

<br/>
<br/>
  
<form action="/users/<%= user._id %>/" method="post">
    <input type="submit">    
</form>