<h1>User Profile Page </h1>

<h2> You are logged in as: <%= user.email %> </h2>


<h4> User Preferences, if any</h4>

This will display if you have chosen to receive notifications.
<%user.notifications  %>

<br/>

This will display if you have chosen which train line to be notified about.
<%user.trainline%>

<br/>
  

Click submit to edit your profile.
<br/>
<form action="/users/<%= user._id %>/" method="post">
    <input type="submit">    
</form>