<div class="centered">	
	<h1>User Profile Page </h1>

	ADD A PIC HERE MAYBE TO SPICE IT UP

	<h2> You are logged in as: <%= user.email %> </h2>

	<h3> User Preferences, if any</h3>

	<h4>Do you want to receive notifications about outages?
	<strong><%=user.notifications%> </strong> </h4>

	<br/>
	<br/>

	<h4>Which train line do you want to be notified about?
	<strong><%=user.trainline%></strong> </h4>

	<br/>
	<br/>

	<h4>Click submit to edit your profile. </h4>

	<br/>
	<br/>
	  
	<form action="/users/<%= user._id %>/" method="post">
	    <input type="submit">    
	</form>
</div>